@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
	margin: 0 auto;
	line-height: 1.5;
	padding-bottom: 5em;
	height: 100%;
	min-height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #DFDCE3;
}

h1{
	font-family: 'Pacifico', sans-serif;
}

a{
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

.arrow-up{
	position: fixed;
	right: 30px;
	bottom: 25px;
	height: 25px;
	width: auto;
	z-index: 9999;
}

.navbar{
	color: #FFF;
}

.logo{
	color: #FC4A1A;
	float: left;
	margin-top: 10px;
	font-size: 4em;
	margin-left: 40px;
	transition: 0.4s;
	letter-spacing: 2px;
	padding-top: 10px;
}

.links{
	display: inline;
	padding: 10px;
	right: 10px;
	position: fixed;
	margin-top: 5px;
	font-size: 1.2em;
}

.links a{
	padding: 5px;
}

.intro{
	font-size: 3em;
	font-weight: bold;
	width: 550px;
	margin: 0 auto;
	margin-top: 180px;
	background-color: rgba(247, 183, 51, 0.7);
	border-radius: 10px;
	padding: 10px;
	color: #FFF;
}

.intro-background{
	background: url("img/intro-min.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: left;
}

.content{
	text-align: center;
	height: 72vh;
	min-height: 500px;
	padding: 20px;
}

.yellow{
	background-color: #F7B733;
	min-height: 750px;
}

.blue{
	background-color: #4ABDAC;
}

.content h2{
	color: #FFF;
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 2.3em;
}

.button{
	background-color: #FC4A1A;
	width: 200px;
	height: 43px;
	padding-top: 5px;
	font-size: 1.5em;
	margin: 0 auto;
	color: #FFF;
	margin-top: 30px;
	transition: 0.3s;
}

.content .button:hover{
	background-color: #ec3403;
	transition: 0.3s;
}

.numbers{
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
}

.item{
	height: 400px;
	width: 350%;
	padding: 10px;
	margin-top: 40px;
	color: #FFF;
	min-width: 350px;
}

.item .number{
	height: 60px;
	width: 60px;
	background-color: #4ABDAC;
	border-radius: 50%;
	color: #FFF;
	margin: 0 auto;
	font-size: 2.2em;
	font-family: 'Pacifico';
	margin-bottom: 20px;
	text-shadow: 2px 2px #000;
}

.item .title{
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.8em;
	font-weight: bold;
}

.item .tag{
	width: 100%;
	margin-bottom: 40px;
	font-size: 1.3em;
	line-height: normal;
}

.item .picture-1{
	background: url("img/phone-min.jpg");
}


.item .picture-2{
	background: url("img/accountability-min.jpeg");
}

.item .picture-3{
	background: url("img/results-min.jpeg");
}

.item .picture{
	height: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3px;
}

.blue h2{
	margin-top: 100px;
}

.footer{
	clear: both;
  position: relative;
  z-index: 10;
  height: 40px;
	padding-left: 2%;
	background-color: #DFDCE3;
}

@media only screen and (max-width : 1320px){

	.content{
		height: 60vh;
	}

	.content h2{
		font-size: 1.8em;
		width: 650px;
	}

	.logo{
		font-size: 2.6em;
	}

	.intro{
		font-size: 2.7em;
	}

	.numbers{
		width: 90%;
		flex-direction: column;
		align-items: center;
	}

	.item .number{
		height: 50px;
		width: 50px;
		font-size: 1.8em;
		margin-bottom: 15px;
	}

	.item .title{
		font-size: 1.6em;
	}

	.item .tag{
		font-size: 1.1em;
		margin-bottom: 20px;
	}

	.item{
		margin-top: 90px;
		width: 70%
	}

	.item:nth-child(1){
		margin-top: 40px;
	}

	.item .picture{
		height: 75%;
	}

	.arrow-up{
		right: 35px;
		bottom: 30px;
		height: 20px;
	}

	.button{
		width: 180px;
		height: 40px;
		padding-top: 5px;
		font-size: 1.3em;
		margin-top: 35px;
	}

	.yellow{
		height: 1700px;
	}

	.blue h2{
		margin-top: 80px;
	}

	.intro-background, .blue{
		height: 55vh;
	}

}

@media only screen and (max-width : 760px){

	.content{
		height: 85vh;
	}

	.yellow{
		height: 1700px;
	}

	.intro{
		width: 90%;
		font-size: 2em;
	}

	.content h2{
		font-size: 1.5em;
		width: 80%;
	}

	.item{
		margin-top: 100px;
		width: 100%;
		padding: 0;
	}

	.item .picture{
		width: 100%;
	}

	.footer{
		font-size: 0.8em;
	}

	.arrow-up{
		display: none;
	}
}

@media only screen and (max-width : 514px){

	.content{
		height: 80vh;
	}

	.yellow{
		height: 1700px;
	}

}
